.outline-none.font-semibold{
    width: 11% !important;
    aspect-ratio:2/2;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid input{
  border: 1px solid black;
}