@import './../../styles/variable.scss';

footer {
    * {
        font-family: $urexc;
    }

    section:first-child {
        padding: 80px 0 100px 0;
        background: #e2e4e6;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
            flex-wrap: wrap;

            .contact {

                .row:nth-child(1),
                .row:nth-child(3) {
                    margin-bottom: 16px;
                }

                .row:nth-child(2) {
                    margin-bottom: 16px;
                }

                .row:nth-child(1) {
                    align-items: center;
                }

                .row {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    gap: 8px;

                    .location-icon {
                        width: 20px !important;
                        margin-top: 0px;
                    }

                    .logo {
                        width: 50px;
                        height: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background: #21364B;
                    }

                    h3 {
                        color: #2B2B2B;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }

                    p,
                    a {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: #2B2B2B;
                    }
                }
            }

            .column {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .row {
                    h3 {
                        font-size: 19.4px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: #0B090A;
                    }
                }

                .links {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .link {
                        p {
                            color: #2B2B2B;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 26px;
                        }
                    }
                }
            }

            .subscribe {
                width: 100%;

                .row {
                    margin-bottom: 21px;

                    h3 {
                        width: 100%;
                        font-size: 19.4px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        color: #0B090A;
                    }
                }

                .form-group {
                    width: 100%;
                    position: relative;
                    border-radius: 10px;
                    background: $white;
                    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.05);
                    margin-bottom: 32px;

                    .arrow {
                        position: absolute;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background: #21364B;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        right: 5px;
                        top: 50%;
                        transform: translate(0, -50%);
                    }

                    input {
                        width: 100%;
                        background: transparent;
                        border: none;
                        outline: none;
                        padding: 25px 20px 25px 20px;
                    }
                }

                .sosial-icon {
                    p {
                        color: #0B090A;
                        font-size: 19.4px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 30px;
                    }

                    div {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;
                    }
                }
            }
        }
    }

    section:last-child {
        background: #0B090A;
        padding: 7px;

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0;
            flex-wrap: wrap;

            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            p {
                color: #AAA;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                margin-bottom: 7px;
            }
        }
    }
}

@media (min-width: $tablet) {}

@media (min-width: $desktop) {
    footer {
        section:first-child {

            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: nowrap;

                .contact {

                    .row:nth-child(1),
                    .row:nth-child(3) {
                        margin-bottom: 32px;
                    }

                    .row:nth-child(2) {
                        margin-bottom: 32px;
                    }


                    .row {
                        width: 220px;
                        gap: 8px;

                        .location-icon {
                            width: 35px !important;
                        }

                        .logo {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                        }

                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                        }

                        p,
                        a {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }

                .column {
                    width: auto;
                    gap: 40px;

                    .row {
                        h3 {
                            font-size: 19.4px;
                            font-weight: 500;
                        }
                    }

                    .links {
                        gap: 8px;

                        .link {
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 26px;
                            }
                        }
                    }
                }

                .subscribe {
                    width: auto;

                    .row {
                        margin-bottom: 21px;

                        h3 {
                            width: 254px;
                            font-size: 19.4px;
                            font-weight: 500;
                        }
                    }

                    .form-group {
                        width: 350px;
                        border-radius: 10px;
                        margin-bottom: 32px;

                        .arrow {
                            width: 50px;
                            height: 50px;
                            right: 5px;
                        }

                        input {
                            width: 350px;
                            padding: 25px 20px 25px 20px;
                        }
                    }

                    .sosial-icon {
                        p {
                            font-size: 19.4px;
                            font-weight: 500;
                            margin-bottom: 30px;
                        }

                        div {
                            gap: 20px;
                        }
                    }
                }
            }
        }

        section:last-child {

            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                }
            }
        }
    }

}