//color
$black: #000;
$white: #fff;
$appColor: #6F6C90;

//size
$tablet: 600px;
$desktop :1024px;
$urexc : Urexc;
$dm-sans : DM-sans;
$oxygen : Oxygen ;

@font-face {
    font-family: Urexc;
    src: url(./../Poppins-Medium.ttf);
}
@font-face {
    font-family: Oxygen;
    src: url(./../Oxygen-Regular.ttf);
}
@font-face {
    font-family: DM-sans;
    src: url(./../DMSans-VariableFont_opsz,wght.ttf);
}